<section class="content-header">
    <h1>
        Cập nhật danh mục sản phẩm: {{productCategory.Name}}
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="products">Sản phẩm</a></li>
        <li><a ui-sref="product_categories">Danh mục</a></li>
        <li class="active">Cập nhật</li>
    </ol>
</section>
<!-- Main -->
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Cập nhật: {{productCategory.Name}}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmUpdateProductCategory" role="form" ng-submit="UpdateProductCategory()">
            <div class="box-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tên danh mục</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Tên danh mục" ng-change="GetSeoTitle()" name="name" ng-model="productCategory.Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tiêu đề SEO</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Tiêu đề SEO" name="alias" ng-model="productCategory.Alias">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Mô tả ngắn</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Mô tả ngắn" name="description" ng-model="productCategory.Description">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Danh mục cha</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="parentId" ng-model="productCategory.ParentID" ng-options="option.ID as option.Name for option in parentCategories">
                            <option value="">Danh mục gốc</option>
                        </select>
                        <input type="hidden" name="parentId" ng-model="productCategory.ParentID" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Thứ tự</label>
                    <div class="col-sm-10">
                        <input type="number" ng-model="productCategory.DisplayOrder" name="displayOrder" class="form-control" placeholder="Thứ tự">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Hình ảnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Hình ảnh" ng-model="productCategory.Image" name="image">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Meta Keyword</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Meta Keyword" ng-model="productCategory.MetaKeyword" name="metaKeyword">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Meta Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Meta Description" ng-model="productCategory.MetaDescription" name="metaDescription">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-checked="productCategory.Status" ng-model="productCategory.Status"> Kích hoạt
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="homeFlag" ng-checked="productCategory.HomeFlag" ng-model="productCategory.HomeFlag"> Hiển thị trang chủ
                            </label>
                        </div>
                    </div>
                </div>




            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="product_categories" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i> Huỷ</button>
                <button type="submit" class="btn btn-info pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu</button>
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
</section>